body{
  background-color: rgb(235, 235, 235);
}
.lateral{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
}

#naodestacado {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

#destacado {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 350px;
  margin-left: 100px;
}
#abaixo{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  
}
#maior{
  font-size: 3em;
  color: blue;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}
#entrar{
  background-color: blue;
  color: white;
  height: 50PX;
  width: 250PX;
  border-radius: 5px;
}
.caixas{
  height: 50PX;
  width: 250PX;
  border-radius: 5px;
  box-shadow: 0px;
}
#verde{
  background-color: rgb(33, 145, 33);
  color: white;
  height: 50PX;
  width: 250PX;
  border-radius: 5px;
}


